.main__characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
&--a{
  text-decoration: none;
}
  &--eachCharacter {
    border: 1px solid #3bb54a;
    border-radius: 4px;
    box-shadow: 0px 0px 8px #3bb54a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #13afc9;
    position: relative;
    max-height: 310px;
    overflow: hidden;
  }
  &--img {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    width: 200px;
    object-fit: cover;
  }
  &--text{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &--name {
    color: white;
    max-width: 180px;
    text-align: center;
    transform: translateY(20px);
    font-family: Patrick Hand SC;
    letter-spacing: 1px;
  }
  &--species {
    color: white;
    font-family: Patrick Hand;
    letter-spacing: 1px;
  }
&--link{
  text-decoration: none;
}
}

.list--eachCharacter::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid transparent;
  border-radius: 5px;
  pointer-events: none;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    border-color: #3bb54a;
    box-shadow: 0 0 12px #3bb54a;
  }

  50% {
    border-color: #d3df55;
    box-shadow: 0 0 48px #d3df55;
  }

  100% {
    border-color: #3bb54a;
    box-shadow: 0 0 12px #3bb54a;
  }
}

.list--eachCharacter:hover {
    transform: scale(1.05);
box-shadow: 0px 0px 20px #3bb54a;
  }

    .fas.fa-skull{
      color: white;
      transform: translate(-75px, -170px);
      font-size: 30px;
    }